{% extends "principal.html" %}

{% block cabecera_extra %}
    {% load static %}
    <script src="{% static 'javascript/javascript_prueba.js' %}"></script>
{% endblock cabecera_extra %}



{% block contenido %}
{% load django_bootstrap5 %}

<form method="POST" action="{% url 'registrar_usuario' %}">

    {% csrf_token %}
    <h2>Datos del usuario</h2>
    {% bootstrap_form formRegistro %}

    
    {% bootstrap_button "Registrar" button_type="submit" button_class="btn-primary" %}
</form>

{% endblock %}